<?xml version="1.0" encoding="UTF-8"?>
<tomcat-users xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
              xmlns="http://tomcat.apache.org/xml"
              xsi:schemaLocation="http://tomcat.apache.org/xml tomcat-users.xsd"
              version="1.0">

    <role rolename="manager-gui"/>
    <role rolename="manager-script"/>
    <role rolename="manager-jmx"/>
    <role rolename="manager-status"/>
    <role rolename="admin-gui"/>
    <role rolename="admin-script"/>
    <role rolename="jolokia"/>
    <user username="{{ tomcat_manager_user }}" password="{{ tomcat_manager_password }}"
          roles="manager-gui,manager-script,manager-jmx,manager-status,admin-gui,admin-script,jolokia"/>

</tomcat-users>
