{{ ansible_managed | comment }}
[Unit]
Description={{ instance.name | default(tomcat_name) }}
After=syslog.target network.target

[Service]
Type=forking

Environment=CATALINA_PID={{ instance.directory | default(tomcat_directory) }}/{{ tomcat_archive[instance.version | default(tomcat_version)]['dir'] }}/temp/tomcat.pid
Environment=CATALINA_HOME={{ instance.directory | default(tomcat_directory) }}/{{ tomcat_archive[instance.version | default(tomcat_version)]['dir'] }}
Environment=CATALINA_BASE={{ instance.directory | default(tomcat_directory) }}/{{ tomcat_archive[instance.version | default(tomcat_version)]['dir'] }}
{% if instance.enable_jmx | default(tomcat_enable_jmx) %}
Environment='CATALINA_OPTS=-Xms{{ instance.xms | default(tomcat_xms) }} -Xmx{{ instance.xmx | default(tomcat_xmx) }} -server -XX:+UseParallelGC -Dcom.sun.management.jmxremote -Dcom.sun.management.jmxremote.port={{ instance.jmxremote_port | default(tomcat_jmxremote_port) }} -Dcom.sun.management.jmxremote.rmi.port={{ instance.jmxremote_port | default(tomcat_jmxremote_port) }} -Dcom.sun.management.jmxremote.ssl=false -Dcom.sun.management.jmxremote.authenticate=false'
{% else %}
Environment='CATALINA_OPTS=-Xms{{ instance.xms | default(tomcat_xms) }} -Xmx{{ instance.xmx | default(tomcat_xmx) }} -server -XX:+UseParallelGC'
{% endif %}
Environment='JAVA_OPTS=-Djava.awt.headless=true -Djava.security.egd=file:/dev/./urandom'

ExecStart={{ instance.directory | default(tomcat_directory) }}/{{ tomcat_archive[instance.version | default(tomcat_version)]['dir'] }}/bin/startup.sh
ExecStop={{ instance.directory | default(tomcat_directory) }}/{{ tomcat_archive[instance.version | default(tomcat_version)]['dir'] }}/bin/shutdown.sh

User={{ instance.user | default(tomcat_user) }}
Group={{ instance.group | default(tomcat_group) }}

[Install]
WantedBy=multi-user.target
